body {
    transition: background-color .5s;
    font-family: 'Archivo', sans-serif;
}
.shadow {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

h1 {
  color: #FFA439;
}

.btn {
  background-color: #FFA439;
  border: none;
}
